.container{
    max-width: 900px;
    margin: auto;
}
.row{
display: flex;

}
.titulo{
text-align: center;
}
.col {
    width: auto;
}
.col-1 {
    width: 8.3333333333%;
}
.col-2 {
    width: 16.6666666666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3333333332%;
}
.col-5 {
    width: 41.6666666665%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.3333333331%;
}
.col-8 {
    width: 66.6666666664%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333333333%;
}
.col-11 {
    width: 91.6666666663%;
}
.col-12 {
    width: 100%;
}
[class*="col-"]{
    padding: 10px;
}
[class*="col-"] img{
 box-shadow: var(--box);
 border-radius: 50%;
}
@media(max-width: 900px){
.row{
    display: inherit;
}
[class*="col-"]{
    width: 100%;
}
}